<template>
    <div>
        <b-card bg-variant="light" text-variant="black" title="Producto">
            <h3>Cree Producto</h3>
            <b-form>
                <b-input id="inline-form-input-nombre" class="mb-2 mr-sm-2 mb-sm-1" v-model="product.name" placeholder="Nombre de producto" required></b-input>
                <b-input id="inline-form-input-descripcion" class="mb-2 mr-sm-2 mb-sm-1" v-model="product.description" placeholder="Descripción de producto" required></b-input>
                <b-input id="inline-form-input-precio" class="mb-2 mr-sm-2 mb-sm-2" v-model="product.price" placeholder="Precio de producto" required></b-input>
                <b-input id="inline-form-input-precio" class="mb-2 mr-sm-2 mb-sm-2" v-model="product.quantity" placeholder="Cantidad de producto" required></b-input>
                <b-button v-on:click="enviar" variant="primary">Crear</b-button>
            </b-form>
        </b-card>
    </div>
</template>

<script>
export default {
    data() {
        return {
            product: {
                name: "",
                description: "",
                price: 0,
                quantity: 0

            }
        }
    },
    methods: {
        enviar() {
            this.$emit('newProduct', this.product);
            this.product.name="";
            this.product.description="";
            this.product.price=0;
            this.product.quantity=0;
        }
    }
}
</script>

<style>

</style>