<template>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">Descripción: <b>{{product.description}}</b></p>
            <p class="card-text">Precio: <b>${{product.price}}</b></p>
            <button
                class="btn mt-3"
                :class="inCartQuantity ? 'btn-success' :  'btn-danger'"
                @click="addToCart(product.id)"
                :disabled="!inCartQuantity">
                {{inCartQuantity ? "Agregar" : "Out of stock"}}
            </button>
        </div>
    </div>
</template>
<script>
    export default{
        props: ["product"], 
            lista: Array,
        data() {
            return {
                producto: this.lista
            }
        },
        computed: {
            inCartQuantity() {
                return this.product.quantity;
            }
        },
        methods: {
            addToCart(id){
                this.$store.dispatch("addToCart", id);
            }
        }
    }
</script>