<template>
    <div>
		<b-container>
			<b-row>
				<b-col>
					<Products />
				</b-col>
				<b-col>
					<Cart />
					<Toast :show="toast.show" :text="toast.text" @hide-toast="hideToast" />
				</b-col>
			</b-row>
		</b-container>
  	 </div>
</template>
<script>
    import Products from './components/Products.vue';
    import Cart from './components/Cart.vue';
    import Toast from './components/Toast.vue';
  	export default {
  		     data(){
  			        return{
  			        };
  		      },
  		      components:{
  			        Products,
  			        Cart,
  			        Toast
  		      },
  		      computed: {
  		          toast() {
  		              return this.$store.getters.toast;
  		          }
  		      },
  		      methods: {
  		          hideToast() {
  		              this.$store.commit("hideToast");
  		          }
  		      }
 	    }
</script>
